{% extends 'base.html' %}
{% load markup static %}

{% block title %}skyl.org | {{ member.title }}{% endblock %}

{% block content %}
<div class="detail-content">
  <a href="/"><span class="glyphicon glyphicon-home right"></span></a>
  {% if user.is_authenticated %}
  <a href="{{ member.edit_url }}"><span class="glyphicon glyphicon-edit right"></span></a>
  {% endif %}
  <h1>{{ member.title }}</h1>
  <h6>created: {{ member.created_dt }}</h6>
  <h6>tags:
    {% for tag in member.tags.all %}
    <a href="/?tag={{ tag }}">{{ tag }}</a>
    {% endfor %}
  </h6>
  {{ member.content|restructuredtext }}
  {% include "disqus.html" %}
</div>
{% endblock %}

{% block extrabody %}
<script src="{% static "js/jsMath/easy/load.js" %}"></script>
<script src="{% static "js/jsMath/jsMath-easy-load.js" %}"></script>
<script src="{% static "js/jsMath/plugins/autoload.js" %}"></script>
{% endblock %}
