description "uWSGI, yo"

start on runlevel [2345] # start on all runlevels.
stop on runlevel [!2345] # stop when shutting down.

script # execute this block as a script
    /home/ubuntu/venv/bin/uwsgi \
    --wsgi-file /home/ubuntu/skyl2/wsgi.py \
    --virtualenv /home/ubuntu/venv \
    --chdir /home/ubuntu/skyl2/ \
    -p 2 \
    --http :8080
end script
