description "uWSGI"

start on runlevel [2345] # start on all runlevels.
stop on runlevel [!2345] # stop when shutting down.

script # execute this block as a script
    {{ HOME }}venv/bin/uwsgi \
    --wsgi-file {{ HOME }}skyl2/wsgi.py \
    --virtualenv {{ HOME }}venv \
    --chdir {{ HOME }}skyl2/ \
    -p 2 \
    --http :9080
end script
