description "uWSGI, yo"

start on runlevel [2345] # start on all runlevels.
stop on runlevel [!2345] # stop when shutting down.

script # execute this block as a script
    /home/ubuntu/venv/bin/uwsgi \
    --virtualenv /home/ubuntu/venv \
    --chdir /home/ubuntu/skyl2 \
    -w wsgi \
    --touch-reload /home/ubuntu/skyl2/wsgi.py \
    --die-on-term \
    -p 2 \
    -s :8080
end script
