body {
    max-width: 960px;
    margin: 0 auto;
}
.detail-content {
    padding: 0 1em;
    margin: 0 auto;
    text-align: justify;
    max-width: 680px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}
table.docutils {
    margin: 0 auto;
}
span.glyphicon {
    font-size: 2em;
    margin: 0 .2em;
    padding: .2em;
}
.right {float: right;}
