body {
    max-width: 960px;
    margin: 0 auto;
}
.detail-content {
    padding: 0 1em;
    margin: 0 auto;
    text-align: justify;
    max-width: 680px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}
table.docutils {
    margin: 0 auto;
}
span.glyphicon {
    font-size: 2em;
    margin: 0 .2em;
    padding: .2em .2em .4em .2em;
}
.margin-bottom25 {
    margin-bottom: 25px;
}

.pull-left span {
    margin-left: 0;
    padding-left: 0;
}

/*
.pull-right span {
    margin-right: 0;
    padding-right: 0;
}
*/

.youtube-embed, .mp3-embed {
    /*float: right;*/
    margin: 1em auto;
    display: block;
}
h1 {
    font-size: 2.25em;
}

.document h1 {
    font-size: 1.75em;
}
.document h2 {
    font-size: 1.5em;
}
.document h3 {
    font-size: 1.25em;
}
.document h4 {
    font-size: 1.125em;
}
.document h5 {
    font-size: 1em;
}
.document h6 {
    font-size: 0.75em;
}
.document img {
    margin: 1em auto;
}
